@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Josefin+Sans:wght@100;200;300;400;500;700&family=Open+Sans:wght@300&family=Public+Sans:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,button, input {
  font-family: 'Josefin Sans', sans-serif;
}

body{
  max-height: 100vh ;
  max-width: 100vh;
  overflow: hidden;
}